NEXT_PUBLIC_PHONE_DISPLAY="900 123 456"
NEXT_PUBLIC_PHONE_TEL="+34900123456"
NEXT_PUBLIC_WHATSAPP_NUMBER="34900123456"
NEXT_PUBLIC_EMAIL="hola@serveicat.com"
NEXT_PUBLIC_GOOGLE_ADS_ID=""
NEXT_PUBLIC_GOOGLE_ADS_CALL_LABEL=""
NEXT_PUBLIC_GOOGLE_ADS_WHATSAPP_LABEL=""
